@{
    ViewData["Title"] = "Upload Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upload Page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Upload Video</h1>
            <div class="row">
                <div class="col-lg-7 mb-2">
                    <div class="contact-form bg-light mb-4" style="padding: 30px;">
                        <form id="uploadForm">
                            <div class="row">
                                <input class="form-control p-4"  type="file" id="myfile" />
                                <input class="btn btn-primary py-3 px-5"  type="button" onclick="uploadFile();" value="Upload" />
                          @* <div>
                                <button class="btn btn-primary py-3 px-5" type="button" onclick="uploadVideo()">Upload</button>
                                </div>*@
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 mb-2">
                    <div class="bg-secondary d-flex flex-column justify-content-center px-5 mb-4" style="height: 435px;">
                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1" style="max-height: 380px;">
                                <h5 class="text-light">Upload Policies</h5>
                                <p style="max-height: 350px; overflow-y: auto;">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                    It has roots in a piece of classical Latin literature from 45 BC, 
                                    making it over 2000 years old. Richard McClintock, 
                                    a Latin professor at Hampden-Sydney College in Virginia, 
                                    looked up one of the more obscure Latin words, consectetur, 
                                    from a Lorem Ipsum passage, and going through the cites of the word in classical literature, 
                                    discovered the undoubtable source. 
                                    Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
                                    (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                                    This book is a treatise on the theory of ethics, very popular during the Renaissance. 
                                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script>
        function uploadFile() {
            // Lấy dữ liệu từ các trường input
           // var videoName = $('#videoName').val();
           // var videoDescription = $('#videoDescription').val();
           // var videoFile = $('#videoFile')[0].files[0];

            // Tạo FormData object để chứa dữ liệu form
           // var formData = new FormData();
           // formData.append('videoFile', videoFile);
          //  formData.append('videoName', videoName);
           // formData.append('videoDescription', videoDescription);

            // Gửi AJAX request
            var xhr = new XMLHttpRequest();
            var file = document.getElementById('myfile').files[0];
            xhr.open("POST", "http://localhost:5069/api/TestUpDown");
            xhr.setRequestHeader("filename", file.name);
            xhr.send(file);
           /* $.ajax({
                url: 'http://localhost:5069/api/TestUpDown',
                type: 'POST',
                data: formData,
                contentType: false,//để trình duyệt tự xác định Content-Type
                processData: false, //để không chuyển đổi dữ liệu sang chuỗi query parameter
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.error(error);
                }
            });*/
        }
    </script>
</body>

</html>